html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.main-navbar {
    font-size: 1.25rem;
}

.main-description {
    font-size: 1.25rem;
}

.secondary-description {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

.carousel-control-prev, 
.carousel-control-next {
    filter: invert(100%);
}

ul.no-decoration {
    list-style-type: none;
}

.privacy-police-info {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    background-color: #464646;
    width: 100%;
    color: lightgray;
    text-align: center;
    padding: 5px 0;
}

.privacy-police-btn {
    font-size: 11px;
}

.field-validation-error {
    color: #ff3333;
    margin-left: .5rem;
}

i.fas {
    margin-right: 0.3rem;
}

.card-border-top {
    border-top: 3px solid #0d6efd;
}

.card-primary {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem;
}

@media screen and (min-width: 640px) {
    .card-body {
        padding: 2rem;
    }
}

ul.client-panel {
    width: 100%;
}

ul.client-panel li.nav-item {
    width: 100%;
    padding-left: 1rem;
}

ul.client-panel li.nav-item.active {
    background-color: #007bff;
    border-radius: 5px;
}